body {
  margin: 0;
}

.Score {
  text-align: center;
}

.Score-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Score-logo {
    animation: Score-logo-spin infinite 20s linear;
  }
}

.Score-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Score-link {
  color: #61dafb;
}
